<!DOCTYPE html>
<html>
  <head>
    <title>New Comment Notification</title>
  </head>
  <body>
    <h2>New Comment on Your Post</h2>
    <p>A new comment has been added to your post: "<%= postTitle %>".</p>
    <p>Check it out on your platform!</p>
  </body>
</html>
